<!DOCTYPE html>
<html>

<head>
  <title>MongoDB</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('components/header.ejs'); -%>
  <h1>MongoDB</h1>
  <h1><%= title %></h1>
  <p>EJS Welcome to 使用MongoDB</p>
</body>

</html>